APP_NAME="Ner Gateway AI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:3000

# Original Keys
STRIPE_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
EFI_CLIENT_ID=
EFI_CLIENT_SECRET=

# Database
DATABASE_URL=

# Gemini
GEMINI_API_KEY=
